.toggle {
    position: absolute;
    right:0;
    top: 0;
    transform: translateX(100%);
    z-index: 10000;
}

.navigation {
    height: 100vh;
    background-color: #323232 !important;
}

.logo {
    max-width: 100%;
}

.logo-wrapper {
    margin-bottom: 20px;
}

.link {
    color: white;
    margin-bottom: 10px;
}

.link-active{
    color: #00D8FF;
}

.link:hover {
    color: #00D8FF;
    text-decoration: none;
}

.logout{
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    color: white;
    cursor: pointer;
    text-align: left;
}

.logout:hover{
    color: #00D8FF;
}
