.logo {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 168px;
    object-fit: contain;
}

.form {
    width: 220px;
}

.field-wrapper {
    margin-bottom: 20px;
}
.field-wrapper > label {
    margin-bottom: 5px;
}
