.main {
    display: flex;
    padding-top: 85px;
}

button:focus{
    outline: none !important;
}

.theme-button {
    background-color: #00D8FF !important;
    border: 0  !important;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

#sidebar, #content {
    height: 100%;
    transition: left .35s;
}

#sidebar {
    position: fixed !important;
    left:0;
    top:0;
    width: 180px;
    height: 100vh;
    z-index: 1000;
}

#sidebar.collapsed {
    left: -180px;
}

#sidebar-content {
    overflow: hidden;
}
