.main {
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    min-height: calc(100vh - 215px);
}

button:focus{
    outline: none !important;
}

.theme-button {
    background-color: #00D8FF !important;
    border: 0  !important;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.recharts-wrapper > svg {
    max-width: 100%;
}

#sidebar, #content {
    height: 100%;
    transition: left .35s;
}

#sidebar {
    position: fixed !important;
    left:0;
    top:0;
    width: 200px;
    height: 100vh;
    z-index: 1000;
}

#sidebar.collapsed {
    left: -200px;
}

#sidebar-content {
    overflow: hidden;
}
